
.hero {
	min-height: 400px;
	text-align: right;
}
.hero:not(.reverse):nth-child(odd), .row.reverse:nth-child(even) {
	flex-direction: row-reverse;
	text-align: left;
}
.hero-content > * {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.hero-img {
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.heroprofile {
	min-height: 400px;
	text-align: center;
}
.heroprofile-content > * {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.heroprofile-img {
	background-size: cover;
	background-position: center;
}
.nav-link{
	color:black;
}
.purchase-hero {
	position: relative;
	background: linear-gradient(#fffd, white);
}
.purchase-hero::before {
	content: '';
	background: var(--background) center/cover;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
	right: 0;
	z-index: -1;
}